
<div class = 'form-container'>
	<div class = 'title'>Create a Source</div>
	 <%= semantic_form_for @source, :html => {:multipart => true} do |f| %>
	    <%= f.inputs do %>
	      <%= f.input :name, :required => true%>
          <%= f.input :location, :required => true%>
          <%= f.input :description, :required => true%>

	      <br><br><br>
	    <% end %>
	    <%= f.actions do %>
	      <%= f.action :submit, :as => :button %>
	    <% end %>
	  <% end %>
</div>
