
<div class = 'title'>Product</div>
<%= link_to 'Add A Product', new_product_path %>
<br>


<div class = 'title'>Sources</div>
<%= link_to 'Add a Food Source', new_source_path %>
<br>
<%= link_to 'View All Sources', sources_path %>
<br>

<div class = 'title'>Members</div>
<%= link_to 'Fees' %>
<br>
<%= link_to 'See Members' %>
<br>


<div class = 'title'>Orders</div>
<%= link_to 'Orders Ready For Placement', new_admin_order_path %>
<br>
<%= link_to 'See Placed Orders', admin_orders_path %>
<br>
