<%= render "cart/cart" %>

<div class = 'title'><%= @product.name %></div>

<div class = 'product-image'>
	<%= image_tag @product.image.url(:product_show)%>
</div>
<div class = 'add-to-cart-form'>
	<%= semantic_form_for @detail, :url => add_to_cart_path do |f| %>
		<%= f.inputs do %>
		  Price: $<%= @product.price %>
		  <br>
		  Units: <%= @product.unit %>
		  <%= f.input :quantity, :as => :number, :required => true, :input_html => { :value => 1, :style => 'width:100px;'}%>
		<% end %>

		<%= @order_by_date.strftime("Order By: %A, %b %d") %>
		<br>
		<%= @pick_up_date.strftime("Pick Up: %A, %b %d") %>

		<!-- Hidden Fields -->
		<%= f.hidden_field :product_id, :value => @product.id %>
		<%= f.hidden_field :order_placement_date, :value => @order_by_date %>
		<%= f.hidden_field :order_pickup_date, :value => @pick_up_date%>
		



		<%= f.actions do %>
		  <%= f.action :submit, :label => 'Add to Cart', :as => :button %>
		<% end %>
	<% end %>
</div>

<br><br><br>
<div class = 'title'><%= @source.name %></div>
<%= @source.location %>
<br>
<%= @product.source_notes %>
<br>
<%= @source.description %>





