<%= render "cart/cart" %>

<div class = 'title'><%= @product.name %></div>

<div class = 'product-image'>
	<%= image_tag @product.image.url(:product_show)%>
</div>
<div class = 'add-to-cart-form'>
	<%= semantic_form_for @detail, :url => add_to_cart_path do |f| %>
		<%= f.inputs do %>
		  Price: $<%= @product.price %>
		  <br>
		  Units: <%= @product.unit %>
		  <%= f.input :quantity, :as => :number, :required => true, :input_html => { :value => 1, :style => 'width:100px;'}%>
		<% end %>

		<!-- Hidden Fields -->
		<%= f.hidden_field :product_id, :value => @product.id %>

		<%= f.actions do %>
		  <%= f.action :submit, :label => 'Add to Cart', :as => :button %>
		<% end %>
	<% end %>
</div>





